<button><a style="text-decoration: none;" href="/admin">Back</a></button>



 <h1>single veiws</h1>


   <div style="border: 2px solid rgb(35, 153, 199); border-radius: 10px;width:220px; justify-content: center;display: flex;align-items: center; padding:70px;" class="card ">

  <div class="row">
             <div class="col-md-8 card-body">

                    <h2 style="display:inline;color: blue;" >Name : <%= datas.name %></h2><br>
                   
                     <hp>Text : <%= datas.text %> </hp>
                      <img style="height: 200px;width: 200px;object-fit: cover;" src="/images/students/<%= datas.img %> " alt="">
             </div>



  </div>


   </div>



    


